<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleName</key>
    <string>Score Keeper</string>
    <key>CFBundleIdentifier</key>
    <string>com.scorekeeper.app</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>UILaunchScreen</key>
    <dict/>
    <key>UISupportedInterfaceOrientations</key>
    <array>
        <string>UIInterfaceOrientationPortrait</string>
    </array>
    <key>UIAppFonts</key>
    <array>
        <string>Fraunces-Regular.ttf</string>
        <string>Fraunces-SemiBold.ttf</string>
        <string>Fraunces-Bold.ttf</string>
        <string>WorkSans-Regular.ttf</string>
        <string>WorkSans-Medium.ttf</string>
        <string>WorkSans-SemiBold.ttf</string>
        <string>WorkSans-Bold.ttf</string>
    </array>
</dict>
</plist>
